[run]
  deadline = "2m"
  skip-files = [
    "^unsecured/"
  ]

[linters-settings]

  [linters-settings.govet]
    check-shadowing = true

  [linters-settings.gocyclo]
    min-complexity = 12.0

  [linters-settings.maligned]
    suggest-new = true

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

  [linters-settings.funlen]
    lines = 70 # default 60
    statements = 40 # default 40

[linters]
  enable-all = true
  disable = [
    "maligned",
    "lll",
    "gas",
    "dupl",
    "prealloc",
    "scopelint",
    "bodyclose",
    "goerr113",
    "gomnd",
    "wsl",
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = [
    "ST1000: at least one file in a package should have a package comment",
  ]
  [[issues.exclude-rules]]
    path = "version.go"
    text = "`(version|date|commit)` is a global variable"


